<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <!-- layout="${longdate}|${level:uppercase=true}|${callsite:className=true:captureStackTrace=false:includeNamespace=false:fileName=true}|${all-event-properties}|${message:withexception=true}" -->


    <targets>
        <target xsi:type="ColoredConsole" name="console" autoFlush="true"
                layout="${longdate}|${level:uppercase=true}[${callsite}:${callsite-linenumber}]${when:when='${all-event-properties}' == '':else=(${all-event-properties})} ${message:withexception=true}"
                encoding="utf-8"
        />

        <target xsi:type="File" name="file" autoFlush="true"
                layout="${longdate}|${level:uppercase=true}[${callsite}:${callsite-linenumber}]${when:when='${all-event-properties}' == '':else=(${all-event-properties})} ${message:withexception=true}"
                fileName="${specialfolder:ApplicationData}\tgv\latest.log"
                encoding="utf-8"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>