<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <time type="AccurateUtc" />
    
    <extensions>
        <add assembly="tgv"/>
    </extensions>

    <targets>
        <target xsi:type="ColoredConsole" name="console" autoFlush="true"
                encoding="utf-8"
                layout="${longdate} ${level:uppercase=true} ${callsite}:${callsite-linenumber}${tgv-context} ${message:withexception=true}">
        </target>

        <target xsi:type="File" name="file" autoFlush="true"
                fileName="${specialfolder:ApplicationData}\tgv\latest.log"
                encoding="utf-8"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
                layout="${longdate}[${level:uppercase=true} ${callsite}:${callsite-linenumber}]${tgv-context} ${message:withexception=true}">
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>