<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="console"
                xsi:type="Console"
                autoFlush="true"
                layout="${longdate}|${level:uppercase=true}|${callsite:className=true:captureStackTrace=false:includeNamespace=false:fileName=true}|${all-event-properties}|${message:withexception=true}"
        />

        <target name="file"
                xsi:type="File"
                autoFlush="true"
                layout="${longdate}|{level:uppercase=true}|{callsite:className=true:captureStackTrace=false:includeNamespace=false:fileName=true}|{all-event-properties}|{message:withexception=true}"
                fileName="${specialfolder:folder=CommonApplicationData:cached=true}/tgv/latest.log"
                archiveNumbering="DateAndSequence"
                archiveEvery="Day"
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>